div{
    background-color: ;
    


}

body
{ 
margin: 0;
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
font-size: 2em;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
   
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;

}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}





.btn{
    color: #11999E;
}
.first-box{
    
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
   /* height: 200px;
    width: 200px;
    border-left: ;
    border-color: black;
    border:solid 10px;
    padding: 20px;
    */
 

}
/*
.second-box{
    height: 200px;
    width: 200px;
    background-color: red;
    border:solid 20px;
    margin-left: 260px;

}
.third-box{
    height: 200px;
    width: 200px;
    background-color:yellow;
    border: solid 10px;
    margin-left: 500px;
}
*/
.grad{
    text-decoration: underline;
}

.bottom-cloud{

    position: absolute;
    left: 300px;
    bottom: 300px;
}
.first-cloud{
    position: absolute;
    right:500 px;
    top:50px;
}

.react{
    height: 300px;
    width: 400px;
    border-radius: 150%;
    size: 1%;
    float: left;
    margin-right: 30px;
}

.bat{
    height: 150px;
    width: 400px;
    size: 1%;
    float: right;
    margin-left: 30px;
}


.footer-link{
    color: #11999E;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

